$primary-color: rgb(127, 102, 195);
$secondary-color: rgb(78, 64, 119);
$icon-color: rgb(83, 198, 118);
$grey: rgb(186, 182, 182);
$white: #fff;
$blue: rgb(53, 123, 236);

// MEDIA QUERIES
$media: (
  mobile: 320px,
  tablet: 768px,
  laptop: 1024px,
);
