$primary-color: rgb(127, 102, 195);
$secondary-color: rgb(78, 64, 119);
$icon-color: rgb(83, 198, 118);
$grey: rgb(186, 182, 182);
$white: #fff;

// MEDIA QUERIES
$s-break: 320px;
$m-break: 768px;
$l-break: 1024px;
