@use "../utilities/variables" as variables;
@use "../utilities/mixin" as mixin;

.form-section {
  .message-form {
    * {
      border-radius: 8px;
      padding: 14px;
      width: 100%;
      margin: 1rem 0;
    }
  }

  .message {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 12px;
    @include mixin.mq(laptop) {
      border-right: 1px solid variables.$grey;
    }
  }

  .settings {
    @include mixin.font-size(1.4);
    border: none;
    padding: 12px;

    * {
      margin: 1rem 0;
    }

    div {
      display: flex;
      gap: 18px;
    }

    select {
      width: 100%;
      appearance: none;
      -moz-appearance: none;
      -webkit-appearance: none;
      padding: 15px 11px;
      background-image: url(/svgs/sort.svg);
      background-repeat: no-repeat;
      background-position-x: right;
      // background-position: calc(100% right);
      background-size: 30px;
      border-radius: 6px;
      color: variables.$grey;
    }
  }
}
