@use "../utilities/variables" as variables;
@use "../utilities/mixin" as mixin;

.form-section {
  .message-form {
    * {
      border-radius: 8px;
      padding: 14px;
      width: 100%;
      margin: 1rem 0;
    }
  }

  .message {
    * {
      margin: 1rem 0;
    }

    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 12px;
    justify-content: space-between;
    @include mixin.mq(laptop) {
      border-right: 1px solid variables.$grey;
      margin: 0;
    }
  }

  .settings {
    border: none;
    padding: 12px;
    display: flex;

    flex-direction: column;

    * {
      margin: 1rem 0;
    }

    div {
      display: flex;
      gap: 18px;
      text-align: center;
    }
    .text {
      width: 50%;
      @include mixin.font-size(0.8);
      @include mixin.mq(tablet) {
        @include mixin.font-size(1.2);
      }
    }

    select {
      width: 100%;
      appearance: none;
      -moz-appearance: none;
      -webkit-appearance: none;
      padding: 15px 11px;
      background-image: url(/svgs/sort.svg);
      background-repeat: no-repeat;
      background-position-x: right;
      background-size: 30px;
      border-radius: 6px;
      color: variables.$grey;
    }
  }
}
