@use "../utilities/variables" as variables;
@use "../utilities/mixin" as mixin;

.grid-container {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto;
  justify-content: center;
  grid-template-areas:
    "header"
    "nav"
    "main";
  @include mixin.mq(tablet) {
    grid-template-columns: 100px 1fr;
    grid-template-areas:
      "header header"
      "nav  main";
  }
}

main {
  display: grid;
  @include mixin.mq(tablet) {
    grid-template-columns: 50%;
    .traffic,
    .social,
    .form-section,
    .members,
    .dashboard,
    .alert {
      grid-column: 1 / span 2;
    }
    .daily {
      grid-column: 1 / span 1;
    }
    .mobile {
      grid-column: 2 / span 1;
    }
  }
  @include mixin.mq(laptop) {
    .members,
    .form-section {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      border-top: 2px solid variables.$grey;
      margin: 0;
    }
  }
}

header {
  grid-area: header;
}
nav {
  grid-area: nav;
}
main {
  grid-area: main;
}
a {
  text-decoration: none;
}

.traffic-list {
  padding-top: 2rem;
  ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 12px;
    justify-content: space-around;
    list-style-type: none;
    @include mixin.font-size(1);
    padding: 2rem 0;
  }
}

.social {
  width: 100%;
  margin-top: 3rem;
  padding: 12px;
  .card-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    @include mixin.mq(tablet) {
      flex-direction: row;
    }
  }

  .social-card {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border: 1px solid variables.$grey;
    border-radius: 10px;
    width: 90%;
    margin: auto;
    padding: 1rem;
    color: variables.$primary-color;
  }

  span {
    @include mixin.font-size(2);
    color: variables.$grey;
  }
}
