@use "../utilities/mixin" as mixin;
@use "../utilities/variables" as variables;

.bell-icon {
  position: relative;
  margin-right: 1.6rem;

  .bell {
    margin-left: 2.5rem;
    color: variables.$white;
    stroke-width: 1px;
    cursor: pointer;
    width: 52%;
    transition: 0.1s ease-in-out;
  }
  .bell:hover {
    background-color: variables.$icon-color;
  }

  .dot {
    background-color: variables.$icon-color;
    height: 3px;
    width: 3px;
    position: absolute;
    top: -4px;
    left: 59px;
    border-radius: 25px;
    @include mixin.mq(tablet) {
      height: 6px;
      width: 6px;
      top: -10px;
      left: 67px;
    }
  }
  #notification {
    display: none;
    position: absolute;
    width: 200px;
    padding: 20px;
  }
}
.social-card {
  svg {
    width: 75px;
    height: 75px;
    background-color: variables.$primary-color;
    fill: variables.$white;
    border-radius: 50%;
  }
}

.student-icon {
  max-width: 100%;
  height: auto;
  border-radius: 50%;
  width: 20%;
  @include mixin.mq(tablet) {
    width: 10%;
  }
}
