@use "../utilities/mixin" as mixin;
@use "../utilities/variables" as variables;

header {
  display: flex;
  justify-content: space-between;
  color: variables.$white;
  @include mixin.font-size(0.6);
  background-color: variables.$primary-color;
  padding: 14px;
  align-items: center;

  .header-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;

    @include mixin.mq(tablet) {
      width: 100%;
      justify-content: flex-end;
      gap: 20px;
    }
  }
  h2 {
    font-weight: 100;
    @include mixin.font-size(0.8);
    @include mixin.mq(tablet) {
      @include mixin.font-size(1.2);
    }
  }
}

nav {
  background-color: variables.$secondary-color;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
  @include mixin.mq(tablet) {
    flex-direction: column;
    justify-content: flex-start;
  }

  * {
    padding-left: 0.5rem;
    @include mixin.mq(tablet) {
      margin-top: 2rem;
    }
  }
}
