@use "../utilities/variables" as variables;
@use "../utilities/mixin" as mixin;

@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100;200;400;700&display=swap");

* {
  box-sizing: border-box;
  font-family: "Noto Sans", sans-serif;
  margin: 0;
}

header {
  sup {
    @include mixin.font-size(0.5);
  }
  h1,
  h2 {
    font-weight: 100;
  }
  @include mixin.mq(tablet) {
    h1 {
      @include mixin.font-size(2);
    }
  }

  .vertical {
    border-right: solid 1px variables.$grey;
    height: 28px;
    @include mixin.mq(tablet) {
      height: 60px;
    }
  }
}

.dashboard {
  text-align: center;
  display: inline-flex;
  gap: 5px;
  width: 100%;
  padding-left: 15px;
  @include mixin.mq(tablet) {
    margin-bottom: 1rem;
  }

  .tab {
    border: 1px solid variables.$grey;
    border-top: none;
    padding-bottom: 4rem;
    width: 55%;
    @include mixin.mq(tablet) {
      width: 100%;
    }
  }
}
.alert-box {
  background-color: variables.$blue;
  margin-left: 9px;
  margin-top: 1rem;
  display: inline-flex;
  justify-content: space-between;
  padding: 4px;
  width: 98%;
  border-radius: 5px;
  color: variables.$white;
}
.pie-widget {
  width: 60%;
  text-align: center;
}

.members {
  font-weight: 100;
  padding: 12px;
  img {
    border-radius: 50%;
  }

  h2 {
    margin-top: 2rem;
  }
  @include mixin.mq(laptop) {
    .new-members,
    .message {
      border-right: 2px solid variables.$grey;
      margin: 0;
    }
  }
}
.traffic,
.social,
.message {
  padding: 15px;
  border-bottom: 1px solid variables.$grey;
  @include mixin.mq(tablet) {
    border-bottom: none;
  }
}
.daily,
.mobile {
  padding: 15px;
  border-bottom: 1px solid variables.$grey;
  @include mixin.mq(tablet) {
    margin-top: 10px;
    border: 1px solid variables.$grey;
    padding: 5px;
  }
}
.card,
.activity-card {
  text-align: center;
  padding: 1.5rem 0 1.5rem 0;
  border-bottom: 1px solid variables.$grey;
  border-bottom-width: 80%;
  margin: 0 1rem;
  @include mixin.mq(tablet) {
    display: flex;
    align-items: center;
    gap: 15px;
    text-align: left;

    span {
      flex-grow: 1;
      text-align: center;
    }
  }
}

.activity {
  a {
    color: #000;
    font-weight: 800;
  }
}

.liActive {
  background-color: variables.$icon-color;
  padding: 7px;
  border-radius: 30%;
}
