@use "../utilities/variables" as variables;
@use "../utilities/mixin" as mixin;

@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100;200;400;700&display=swap");

* {
  box-sizing: border-box;
  font-family: "Noto Sans", sans-serif;
  margin: 0;
}

header {
  sup {
    @include mixin.font-size(0.5);
  }
  h1,
  h2 {
    font-weight: 100;
  }
  @include mixin.mq(tablet) {
    h1 {
      @include mixin.font-size(2);
    }
  }

  .vertical {
    border-right: solid 1px variables.$grey;
    height: 28px;
    @include mixin.mq(tablet) {
      height: 60px;
    }
  }
}

.dashboard {
  text-align: center;
  display: inline-flex;
  gap: 5px;
  width: 100%;
  padding-left: 15px;
  @include mixin.mq(tablet) {
    margin-bottom: 1rem;
  }

  .tab {
    border: 1px solid variables.$grey;
    border-top: none;
    padding-bottom: 4rem;
    width: 55%;
    @include mixin.mq(tablet) {
      width: 100%;
    }
  }
}
.alert-box {
  background-color: variables.$blue;
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
  padding: 4px;
  border-radius: 5px;
  color: variables.$white;
}

.members {
  font-weight: 100;
  padding: 0 12px;
  img {
    border-radius: 50%;
  }

  h2 {
    margin-top: 2rem;
  }
  .activity-card {
    svg {
      display: none;

      @include mixin.mq(tablet) {
        display: block;
      }
    }
  }
  .card:not(:last-child),
  .activity-card:not(:last-child) {
    border-bottom: 1px solid variables.$grey;
  }
  .card,
  .activity-card {
    text-align: center;
    padding: 1.5rem 0 1.5rem 0;
    margin: 0 1rem;
    @include mixin.mq(tablet) {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 15px;
      text-align: left;

      span {
        flex-grow: 1;
        text-align: center;
      }
      img {
        width: 20%;
      }
    }
  }

  .activity {
    a {
      color: #000;
      font-weight: 800;
    }
  }
  @include mixin.mq(laptop) {
    .new-members,
    .message {
      border-right: 2px solid variables.$grey;
      margin: 0;
    }
  }
}
.traffic {
  padding: 10px 10px 10px 0;
  border-bottom: 1px solid variables.$grey;
  @include mixin.mq(tablet) {
    border: none;
  }
}

.social,
.message,
.new-members,
.activity {
  padding: 10px 10px 10px 0;
  border-bottom: 1px solid variables.$grey;
}

.daily,
.mobile {
  padding: 10px 10px 10px 0;
  border-bottom: 1px solid variables.$grey;
  @include mixin.mq(tablet) {
    margin-top: 10px;
    border: 1px solid variables.$grey;
    padding: 5px;
  }
}

.liActive {
  background-color: variables.$icon-color;
  padding: 7px;
  border-radius: 30%;
}
